html
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

html, body
  font-family: var(--font-family);
  color: #333;
  overscroll-behavior: none;
  user-select: none;

code
  font-family Consolas, "Roboto Mono", "Courier New", Courier, monospace

.flex
  display flex
  align-items center

.flex-c
  display flex
  justify-content center
  align-items center

.icon
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

.cell
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 28px;

  .icon
    font-size: 50px;
    margin-top: -10px;
    margin-right: 4px;
    vertical-align: middle;

  .title
    font-size: 32px;

.artwork
  .title,.author,.caption
    user-select text
.users
  .detail,.name
    user-select text

.image-preview
  background: #333;

.censored
  position: relative
  filter: blur(60PX)
  pointer-events none

.image-card:has(.censored)
  pointer-events none

.van-list .image-card
  box-shadow: 0 3PX 1PX -2PX rgba(0,0,0,.2), 0 2PX 2PX 0 rgba(0,0,0,.14), 0 1PX 5PX 0 rgba(0,0,0,.12)

.wf-grid .image-card:has(.censored),
.flexbin .image-card:has(.censored),
.image-card:has(.censored) .meta,
.ia-left .censored
  display none !important

#app
  .van-button
    border-radius 4px
  .top-bar .van-nav-bar__left
    padding 0 0.35rem

.com_sel
  &_tabs
    display flex
    justify-content center
    width 100%
    padding-bottom 20px
    text-align center
    box-sizing border-box
    .com_sel_tab:not(:last-child)
      margin-right 18px
  &_tab
    display flex
    justify-content center
    align-items center
    height 60px
    font-size 28px
    padding 0 16px
    border-radius 10px
    color #333
    background #eee
    box-sizing border-box
    cursor pointer
    &.cur
      cursor: auto
      background: #f2c358;

.user_avatar,
.avatar,
.avatar img,
.author-card .cell .icon
  object-fit: cover

.History.illusts
  padding: 0 0.15rem 0.5rem;

.setting-page
  max-width 750px
  margin 0 auto 160px

  #top-bar-wrap
    width 1.6rem
    height auto
    padding-top calc(0.3rem + var(--status-bar-height))
    background transparent

  .hibiapi-actions .van-action-sheet__name
    display inline-block
    width 100%
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

  .van-button
    padding 0 0.3rem

  .van-popup--bottom
    width 10rem
    left 50%
    margin-left -5rem

  .af_title
    position relative
    margin-top 40px
    margin-bottom 60px
    text-align center
    font-size 28px

  .api-chk .van-action-sheet__item, .img-chk .van-action-sheet__item
    padding: 7px 16px
  .api-chk .van-action-sheet__name, .img-chk .van-action-sheet__name
    color #323233 !important
  .api-chk .van-action-sheet__subname, .img-chk .van-action-sheet__subname
    margin-top -3px
    color inherit !important

.van-image-preview__index
  top 1rem
  left 1rem
.van-image-preview__close-icon--top-right
  top 1rem

.fancybox__nav
  display none
.fancybox__infobar
  line-height 30PX
  text-shadow 0.02667rem 0.05333rem 0.05333rem rgba(0,0,0,0.8)
.fancybox__toolbar__column.is-right
  display none
.fancybox__toolbar
  position absolute
  bottom 0
  left 50%
  transform translateX(-50%)
  align-items center
  width 100%
  .f-button
    background transparent
    color  #fff
    svg
      filter: drop-shadow(0.02667rem 0.05333rem 0.05333rem rgba(0,0,0,0.8))

.swiper-container
  --swiper-theme-color: #fcb93e

.swiper-container-horizontal>.swiper-scrollbar
  bottom: .04rem;
  height: .06667rem;

.swiper-container-initialized
  .swiper-button-prev, .swiper-button-next
    opacity: 1

.swiper-button-prev, .swiper-button-next
  top: 0
  right: 0
  width: 2rem
  height: 97%
  margin-top: 0
  color: #ffd745
  background-image: linear-gradient(270deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%)
  transition: opacity 0.2s
  opacity: 0
  &.swiper-button-disabled
    opacity: 0
  &:after
    filter: drop-shadow(0.02667rem 0.05333rem 0.05333rem rgba(0,0,0,0.8));

.swiper-button-prev
  left: 0
  right: auto
  background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 100%)

@media screen and (max-width: 600px)
  .swiper-button-prev, .swiper-button-next, .swiper-scrollbar
    display none

@font-face
  font-family: 'Dosis';
  src: local('Dosis Regular'), local('Dosis-Regular'), url('../fonts/dosis-v7-latin-ext_latin-regular.woff') format('woff');

::-webkit-scrollbar
  width: 13px;
  height: 13px;

::-webkit-scrollbar-track
  background: #e6e6e6;
  border-left: 1px solid #dadada;

::-webkit-scrollbar-thumb
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;

::-webkit-scrollbar-thumb:hover
  background: black;

@media screen and (max-width: 500px)
  ::-webkit-scrollbar
    width: 0;

  .justified-container
    padding: 0 0.2rem;
  .justified-container .image-card
    width 100% !important
  .justified-container .image-card.isOuterMeta
    display: flex
    flex-direction: column
    margin-bottom: 0.35rem
    border-radius 20PX
    background: #fafafa;
    box-shadow: 0 3PX 1PX -2PX rgba(0, 0, 0, 0.2), 0 2PX 2PX 0 rgba(0, 0, 0, 0.14), 0 1PX 5PX 0 rgba(0, 0, 0, 0.12);
    .image-card-wrapper
      order: 2
      &, & .image
        border-radius 0
    .outer-meta
      order: 1
      .content
        padding-top 0.22rem
        padding-left: 1.5rem;
      .avatar
        position: absolute;
        top: 50%;
        left: 0.4rem;
        transform: translateY(-50%);
        width: 0.9rem;
        height: 0.9rem;
      .title
        font-size: 0.42rem
      .author
        font-size: 0.35rem



  .rank-card
    margin-bottom 0.2rem !important

  .image-card
    .title, .author
      user-select none !important

html.dark
  background #16161a
  color #fff
  ::-webkit-scrollbar
    width: 10px;
    height: 5px;
  ::-webkit-scrollbar-thumb
    border-color: transparent
  ::-webkit-scrollbar-track
    background #16161a
    border-color: transparent
  ::-webkit-scrollbar-thumb:hover
    background: #e6e6e6;

.dark
  background #16161a
  color #fff
  .van-dialog,
  .van-button,
  .comments-popup
    background #333
    color #fff !important
  .van-dialog__message--has-title
    color #fff
  a
   color #dba5ff

.dark #app
  min-height 100vh
  &,
  .app-main,
  .home-i,
  .home-m,
  .home-n,
  .van-cell,
  .image-card,
  .users,
  .illusts,
  .van-popup,
  .van-calendar,
  .van-tabs__nav,
  .van-tab,
  .van-button,
  .van-collapse-item__content,
  .van-share-sheet__cancel,
  .van-action-sheet__cancel,
  .van-action-sheet__item
    background #16161a
    color #fff

  .nav_divi
    background #fff

  .user-wrap,
  .user-illusts
    height auto

  .sup_tags .van-tag
    background none

  .rank-card .spec_wp,
  .image-card
    // border 1PX solid #aaa
    border 0
    // border-radius: 0.26667rem;

  .nav-container
    @media screen and (max-width: 450px)
      height 110px
  .nav-container .nav-bar
    box-shadow 0 0 0.26667rem #222
    background rgba(0,0,0,0.7)
    li
      display flex
      justify-content center
      align-items center
      flex-direction column
      color #fff
    .icon
      display none
    .van-icon
      margin-bottom 0.1rem
      font-size 0.36rem
      &.active,
      &.active + span
        color: #f2c358
      @media screen and (max-width: 450px)
        font-size 22PX
        & + span
          font-size 12PX
    span
      display inline-block

  .com_sel_tab,
  .rank .nav a,
  .Following .van-tab:not(.van-tab--active) .van-tab__text
    background #777
    color #fff
    &.cur
      background: #f2c358;
      color #333

  .van-cell::after,
  .van-action-sheet__description::after
    border-bottom: 1px solid #555;

  .setting-page .api-chk .van-action-sheet__name,
  .setting-page .img-chk .van-action-sheet__name
    color #eee !important

  .van-button--plain
    background rgba(0,0,0,0)
    border-color #aaa
    color #fff

  .van-share-sheet__cancel::before,
  .van-action-sheet__gap
    background #555
    height 1px

  .van-share-sheet__title,
  .van-share-sheet__name,
  .van-field__label
    color #fff

  .novel-card,
  .series-cont,
  .search .keyword
    background #333

  .conf-slider .van-slider__button
    background #777

  .rank .top
    background rgba(0,0,0,0.8)

  .search .search-bar-wrap .search-bar,
  .search .search-bar-wrap .van-search__content,
  .search .com_sel_tabs,
  .Home .com_sel_tabs,
  .rank .top
    background #16161a
    backdrop-filter: none
  .search-dropdown
    background #16161a
    backdrop-filter: none
  .van-search__content
    border 1px solid #aaa
    // margin-right 10px
    &,
    .van-cell
      background-color: transparent !important

  .search_params
    .van-dropdown-menu__bar
      box-shadow none
    .van-dropdown-menu__title
      color #fff

  .van-calendar__header
    box-shadow none

  .show_pop_icon,
  .search_popular_icon
    .icon
      position relative
      z-index 2
    &::before
      content ''
      position absolute
      z-index 1
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 1.25em
      height 1.25em
      border-radius 50%
      background #ddd

  .search_popular_icon
    position relative
    text-align center
    display inline-block
    margin-top 0.2rem
    margin-right 0.2rem
    .icon
      margin-right 0
      vertical-align: -0.25em;
    &::before
      width 2em
      height 2em

  .search-dropdown
    background #16161a

  .search_params
    .van-dropdown-menu__bar
      box-shadow none
    .van-dropdown-menu__title
      color #fff

  .van-calendar__header
    box-shadow none

  .van-search__content
    border 1PX solid #aaa
    &,
    .van-cell
      background-color: transparent !important

  .rank .top
    left 0
    .calendar .date
      color #fff

  .image-card .meta::before
    height 100%

  .setting .app-title img
    display none

  .van-switch
    background #aaa
  .van-switch--on
    background #8ca8ff

  .van-dialog
    .van-cell,
    .van-button
      background #333 !important
    .van-cell__value
      color #fff

  .van-radio__label,
  .van-field__control
      color #fff

  .ia-cont .ia-right .artwork-meta
    background none
  .artwork-meta .tag-list
    color #b79ffd
  .artwork-meta .date .view
    color #8ca8ff
  .novel-view
    background #16161a !important
    &+.collapse-btn
      background #16161a !important

  .novel_text
    color #b6b6b6 !important
  .novel-view.shrink::after,
  .image-view.shrink::after
    background: linear-gradient(to top, #16161a, rgba(0,0,0,0));
  .ia-right .shrink::after
    background: linear-gradient(to top, #16161a, rgba(0,0,0,0));
  .users
    .info-container .detail .content
      color #ccc
      & + .more
        color #fff
      &::after
        background: linear-gradient(to top, #16161a, rgba(0,0,0,0));

    .info-container .num
      color #bbb

  .image-slide
      border 1PX solid #16161a

  .ss-title,
  .ss-author,
  .live_list .content,
  .live_detail .content
    color #fff
  .live_detail .content .chats
    background #16161a

.user-container .user-tabs .van-tag--mark
  font-weight bold

.user-container .user_id,
.user-container .user-tabs .van-tag--mark,
.artwork-meta .date,
.artwork-meta .whid
  font-family Bahnschrift,Dosis,Arial,Helvetica,sans-serif

.user-container .user_account
  font-family Bahnschrift, Helvetica, Arial, sans-serif

.user-container .user_link,
.artwork-meta .pid_link
  font-family Georgia, Helvetica, Arial, sans-serif

.artwork .conf-inp
  .van-radio--horizontal
    margin-right 0
  .van-radio-group--horizontal
    gap 6px 12px

.setting-actions .conf-fcont
  align-items flex-start !important

#sel_block_dialog, #get_pnt_nots_dialog
  display flex
  flex-direction column
  margin-top: -0.9rem
  .sel_block_chks
    display flex
    align-items center
    gap .15rem

.rank-card .spec_wp
  overflow hidden

// .Spotlights .image-card, .rank-card .spec_wp
//   img[lazy="loaded"]
//     transform none
//     transition transform 0.5s
  // @media screen and (min-width: 1280px)
  //   &:hover img
  //     transform scale(1.1)

.card-box .swipe-item .image-card-wrapper
  height 100%
  padding-bottom 0 !important

.image-card,
.image-card .image,
.image-card-wrapper,
.rank-card .spec_wp,
.rank-card .spec_wp .sp_info::before,
.card-box .swipe-item .image-card,
.card-box .swipe-item .image-card .outer-meta::before,
.Spotlights .image-card,
.Spotlight .image-card .outer-meta::before,
.illusts .user_info
  border-radius: 12PX;

.image-card-no-radius
  .image-card,
  .image-card .image,
  .image-card-wrapper,
  .rank-card .spec_wp,
  .rank-card .spec_wp .sp_info::before,
  .card-box .swipe-item .image-card,
  .card-box .swipe-item .image-card .outer-meta::before,
  .Spotlights .image-card,
  .Spotlight .image-card .outer-meta::before,
  .illusts .user_info,
  .ia-cont .ia-left .image-box .image,
  .image-slide,
  .tags .tag,
  .tags .tag img,
  .tags .tag .meta,
  .search .tags .meta::after
    border-radius: 0 !important;

.image-card .btn-play
  font-size 1.2rem !important

.swiper-slide .image
  transform none !important
  transition none !important

.author-card .swiper-slide .image-card-wrapper
  height 100%
  padding-bottom 0% !important

.Discovery,
.HomeRecommIllust,
.Spotlight,
.History,
.card-box .swipe-item
  .image-card-wrapper .meta
    background: rgba(0,0,0,.04);

.search .tags .meta
  &::after
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background: rgba(0,0,0,.04);
    border-radius: 0.10667rem;

.Spotlight,
.card-box .swipe-item
  .image-card .outer-meta
    transform translateY(-100%)
    &::before
      position: absolute;
      content: '';
      bottom: 0;
      width: 100%;
      height: 120%;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
      // border-radius: 0.26667rem;
    .content
      color #fff !important

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

.fadeIn
  animation fadeIn 0.5s

.hide
  display none !important

.op0
  opacity 0 !important

.pt0
  padding-top 0 !important

html
  --status-bar-height: 0px
  --nav-bar-height: 0px
  padding-top var(--status-bar-height)
  &.android,
  &.ios
    --status-bar-height: var(--safe-area-top, 20px)
    --nav-bar-height: var(--safe-area-bottom, 0px)

.ios
  .artwork .top-bar-wrap,
  .users .top-bar-wrap
    padding-top calc(0.2rem + var(--status-bar-height)) !important
  .artwork .share_btn,
  .artwork.novel .more_btn,
  .users .share_btn
    top: calc(0.35rem + var(--status-bar-height)) !important
  .users:has(.van-sticky--fixed) .top-bar-wrap
    padding-top calc(0.8rem + var(--status-bar-height)) !important
  .users:has(.van-sticky--fixed) .share_btn
    top: calc(1.45rem + var(--status-bar-height)) !important
  #app .nav-container
    margin-bottom: var(--nav-bar-height)
    &::after
      content ''
      position absolute
      left 0
      bottom calc(var(--nav-bar-height) * -1)
      width 100%
      height var(--nav-bar-height)
      background white
  .dark #app
    .nav-container::after,
    .rank .top .cal-box
      background #161616
  .fancybox__toolbar
    bottom: var(--nav-bar-height)

.search-bar-wrap
  &::before
    content ''
    position fixed
    top 0
    left 0
    width 100%
    height calc(var(--status-bar-height) + 1px)
    background #fff

.van-sticky--fixed
  padding-top var(--status-bar-height)
  background #fff

.van-calendar__popup.van-popup--top
  padding-top var(--status-bar-height)
.van-calendar__popup .van-popup__close-icon
  top calc(var(--status-bar-height) + 11PX)

body .comments-popup
  .van-popup__close-icon
    top calc(var(--status-bar-height) + 16PX)
  .comments-title
    padding-bottom 0.2rem
  .comments-area
    height calc(100vh - var(--status-bar-height) - 1.25rem)
    min-height unset
    overflow auto

#nav-bar-overlay
  position fixed
  z-index 1000
  top 0
  left 0
  width 100%
  height var(--status-bar-height)
  background #fff
  &.show
    transition 0.2s
    opacity 1 !important
    backdrop-filter: saturate(200%) blur(.08rem);
    background: rgba(255, 255, 255, 0.72);

body .Home .com_sel_tabs
  z-index 99
  top 0
  padding calc(0.3rem + var(--status-bar-height)) 0 0.3rem
  background: rgba(255,255,255,1)


.dark #nav-bar-overlay.show
  background: rgba(0, 0, 0, 0.28);

.dark
  .search-bar-wrap::before,
  .van-sticky--fixed,
  #nav-bar-overlay
    background #16161a

#app .illusts .top-bar-wrap
  padding-top: calc(0.26667rem + var(--status-bar-height))

.search .tags .tag img[lazy="loading"]
  opacity 0

.van-action-sheet__content::-webkit-scrollbar
  width 0.17333rem

.noImgFillScreen
  .Home,
  .image-layout,
  .rank .top,
  .search .tags,
  .user-tabs .van-tabs__nav,
  .History .h-tabs .van-tabs__nav
    max-width 1200PX
    margin-left auto !important
    margin-right auto !important
  .rank .top
    left 50% !important
    transform translateX(-50%)
  .justified-container .image-card
    --jstf-w: 265;
    --jstf-w-px: 265PX;

.app-main:has(.live_detail)
  border-top 4PX solid #F2C358

.color-gray
  color: gray
.imt-res-text
  color: gray
  &,& .immersive-translate-target-translation-theme-background-inner
    padding 0 !important
    background transparent !important

#immersive-translate-popup
  display none !important
html:has(.novel_text) #immersive-translate-popup
  display block !important

.van-popover__action
  &.imt,&.sc,&.ms,&.gg,&.yd
    width 220px

#app .ia-left .image-box .img3
  transition opacity,transform 0.5s
  opacity 1
  &[lazy="loading"]
    opacity 0
.ia-left .image-box:has(.img3[lazy="loading"])
  &::after
    content ''
    position absolute
    top: 50%;
    left: 50%;
    width: 1.6rem !important;
    height: 1.6rem !important;
    margin-left: -0.8rem !important;
    margin-top: -0.8rem !important;
    transform: scale(0.9);
    background url('@/icons/loading.svg') no-repeat center center / contain
    border-radius: 5PX;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 1PX 3PX 0 rgba(0, 0, 0, 0.1), 0 1PX 2PX -1PX rgba(0, 0, 0, 0.1);

.non-cjk-lang
  .Home .com_sel_tabs .home-search
    display none !important
  @media screen and (max-width: 999px)
    .Home .com_sel_tabs .home-title
      display none !important

#app .users .info-container .info .detail.ex
  max-height: 5.33333rem
  overflow-y auto
  &::-webkit-scrollbar
    width: 0.17333rem
#app .users .info-container .info .share_btn
  display none
@media screen and (min-width: 1280px)
  #app .users
    .van-tabs__nav
      padding-left 5vw
      padding-right 5vw
      .van-tab
        flex none
        min-width 2rem
        &:first-child
          margin-left 0.21333rem
      .van-tabs__line
        width 1.2rem
        height 4PX
        border-radius 0
    .share_btn
      display none
    .info-container .info
      display flex
      flex-direction column
      justify-content start
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 0.4rem;
      .avatar
        top: -0.7rem
        left: 5.5rem;
        transform: none;
      >*:not(.avatar)
        margin-left 0
        margin-right 0
        padding-left 3.7rem !important
        padding-right 0
        text-align left
      >span
        display inline-block
        width fit-content
      .name
        max-width calc(100% - 7rem)
        margin-bottom 0.5rem
      .follow_btn
        position: absolute;
        top: 0.1rem;
        right: 6rem;
        padding-left 0 !important
      .share_btn
        position absolute
        top: 0.25rem;
        right: 5rem;
        display block
        padding-left 0 !important
      .site-list
        display inline-flex
        justify-content start
      .detail
        margin-top: 0.26667rem;
        padding-right 0 !important
        .content
          margin-left 0 !important
          margin-right 0 !important

body.dark::before
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #16161a;
